@keyframes example {
  from { background-color: red;}
  to { background-color: yellow;}
}

#keyDiv {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}


@keyframes example1 {
  0% {background-color: red;}
  25% {background-color: yellow;}
  50% {background-color: blue;}
  100% {background-color: green;}
}

#keyDiv1 {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example1;
  animation-duration: 4s;
}

@keyframes example2 {
  0% { background-color: red; left: 0px; top: 0px;}
  25% { background-color: yellow; left: 200px; top: 0px;}
  50% { background-color: blue; left: 200px; top: 200px;}
  75% { background-color: green; left: 0px; top: 200px;}
  100% { background-color: red; left: 0px; top: 0px;}
}
#keyDiv2 {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example2;
  animation-duration: 4s;
}


#keyDiv3 {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example2;
  animation-duration: 4s;
  animation-delay: 2s;
}

#keyDiv4 {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example2;
  animation-duration: 4s;
  animation-delay: -2s;
}

#keyDiv5 {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example2;
  animation-duration: 4s;
  animation-iteration-count: 3;
}

#keyDiv6 {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#keyDiv7 {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example2;
  animation-duration: 4s;
  animation-direction: reverse;
}
#keyDiv8 {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example2;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

#keyDiv9 {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example2;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;
}

@keyframes example3 {
  0% { background-color: red; left: 0px; top: 0px;}
  100% { background-color: green; left: 200px; top: 0px;}
}

#keyDiv10 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example3;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#keyDiv11 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example3;
  animation-duration: 3s;
  animation-fill-mode: backwards;
}

#keyDiv12 {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation-name: example3;
  animation-duration: 3s;
  animation-fill-mode: both;
}